{% extends 'base.html.twig' %}

{% block title %}Admin Homepage{% endblock %}

{% block body %}
    <h1>Welcome to the Admin Homepage</h1>
    <a href="{{ path('app_logout') }}">Logout</a>
{% endblock %}
